@model VerifyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hi <b>@Model.JobName @Model.Name</b>,</p>
<p>Your data has been submit although it has some errors. We'll contact you soon via <b>@Model.Email</b></p>

<h2>Description</h2>
<p>@Model.Description</p>
